header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.post-item {
  border: 1px solid black; /* Add a black border around each post item */
  padding: 10px; /* Add some padding to create spacing between the content and the border */
  margin-bottom: 20px; /* Add margin to create space between each post item */
}

.posts {
  border: 1px solid black; /* Add a black border around each post item */
  padding: 10px; /* Add some padding to create spacing between the content and the border */
  margin-bottom: 20px; /* Add margin to create space between each post item */
}

.edit-form {
  display: none;
}

.edit-form.visible {
  display: block;
}